*{
    box-sizing: border-box;
    padding: 0;margin: 0;
    list-style: none;
    text-decoration: none;
}
a{
    color: inherit;
}
img{
    width: 100%;
    height: 100%;
}
button{
    cursor: pointer;    
}